<%- include('partials/header') %>
<h3>GESTION DE CARNET Y CERTIFICADOS DEL ALUMNO</h3>   
       <img src="/images/logo-originial.ico" alt="">    
      
<h3>NO EXISTEN CARNET PARA EL USUARIO</h3>
<a href="/">Volver inicio</a>

<%- include('partials/footer') %>