*{
    margin: 0;
    padding: 0;
}
input[type="date"].hide-calendar::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
body{
    background: #A60736;
    color: #DCDBDB;
     display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  height: 100vh;
}
#btnIngresar{
    background: #A60736;
    color: white;
}
#btnIngresar:hover{
    color: #080808;
    background: #e4386c;
    border: solid 1px #A60736;
    
}
.imagen{
  
    text-align: center;    
}
.imagen img{
    width: 80px;   
     
}
h2{
    color: black;        
}
.boxlogin{
        background: #DCDBDB;
        padding: 1.5rem;
        width: 380px;
        border-radius: 0.5rem ;
}
.cabeza{
    display: flex;
    flex-direction: column;
    text-align: center;
}
p{    
    color: black;
    font-style: italic;
}
label{
    color:black;
}
.carnet-wrapper {
  width: 340px;
  height: 210px;
  perspective: 1000px;
  margin: 30px auto;
}

.carnet-flip {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.carnet-flip.is-flipped {
  transform: rotateY(180deg);
}

.carnet-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  background: #080808;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222;
  border: 1px solid #999;
}

.carnet-front {
  z-index: 2;
  background-image: url('../images/anversoUNE.png');
background-size: cover;         /* Hace que la imagen llene el div sin deformarse */
background-size: cover;         /* Hace que la imagen llene el div sin deformarse */
  background-position: center;    /* Centra la imagen */
  background-repeat: no-repeat;   /* Evita que se repita */
}

.carnet-back {
  transform: rotateY(180deg);
   background-image: url('../images/reversoUNE.png');
   background-size: cover;         /* Hace que la imagen llene el div sin deformarse */
  background-position: center;    /* Centra la imagen */
  background-repeat: no-repeat;   /* Evita que se repita */
}

.carnet-content h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  font-size: 1.2rem;
}

.carnet-content p {
  margin: 5px 0;
  font-size: 1rem;
}

/* Responsive para móvil */

@media (max-width: 576px) {
    .boxlogin{
      min-width: 300px;
        width: 90%;
       
}
  .carnet-wrapper {
    width: 100vw;
    height: 100vh;
    transform: rotate(90deg); /* gira todo el carnet para que quede horizontal */
    transform-origin: center center;
  }
  
  /* Para que el flip interno no se afecte, 
     quitamos la rotación del contenedor interno para mantener el flip */
  .carnet-flip {
    width: 100vh;  /* invertimos ancho y alto para ajustar al contenedor girado */
    height: 100vw;
    margin: auto;
  }
}
