*{
    margin: 0;
    padding: 0;
}
body{
  background: #f8f8f8; 
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  text-align: center;
  padding: 0.3rem;
}
h3{
  padding: 0.5rem;
  color:#A60736; 
  text-shadow: 1px 2px 2px rgb(87, 87, 87);  
}
h2{
  padding: 0.5rem;
  color:white; 
  text-shadow: 1px 2px 2px rgb(87, 87, 87);  
}
.carnet-wrapper {
  width: 390px;
  height: 252px;
  perspective: 1000px;
  margin: 30px auto;  
}
.carnet-flip {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 7px 10px rgba(0,0,0,0.3);
}
.carnet-flip.is-flipped {
  transform: rotateY(180deg);
}
.carnet-face {/*este es el contenido*/
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  background: #A60736; 
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;  
  color: #222;
  border: 1px solid #999;
}
.cabeza{
  background: #A60736; 
  padding-bottom: 1rem;
  margin-bottom: 0.2rem;
  border-radius: 0.2rem;
}
.carnet-front {
  z-index: 2;

  background-size: cover;         /* Hace que la imagen llene el div sin deformarse */
  background-position: center;    /* Centra la imagen */
  background-repeat: no-repeat;   /* Evita que se repita */
}
.carnet-back {
  transform: rotateY(180deg);
  
   background-size: cover;         /* Hace que la imagen llene el div sin deformarse */
  background-position: center;    /* Centra la imagen */
  background-repeat: no-repeat;   /* Evita que se repita */
}
img{
    width: 80px;        
}

.listaCarnet{
  display: flex;
      flex-direction: column;
      width: 200px; /* Puedes ajustarlo según necesites */
      gap: 10px;     /* Espacio entre los enlaces */
  text-align: start;
 
}
.tabs {
      display: flex;
      margin-bottom: 5px;
}
.tab {
      padding: 10px 20px;
      cursor: pointer;
      background-color: #eeeded;
      color: black;
      border: 1px solid #cccccc;
      border-bottom: none;
      margin-right: 5px;
      border-radius: 5px 5px 0 0;
}
.tab.active {
      background-color: #A60736; 
      color: white;
      border-bottom: 1px solid white;
      font-weight: semibold;
}
.tab-content {
  
  border-top: 7px solid #A60736;    
  padding: 15px;     
  background: #f8f8f8; 
  height: 100%;  
}
.tab-pane {
      display: none;
}
.tab-pane.active {
  display: block;
}

.carnet-content{
  all: 'unset';  
    
}
.carnet-content2{
  all: 'unset';    
  padding: 1.6rem;
  margin: 2px;
  text-align: start;
}
.carnet-content2 label{
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  display: block; /* Opcional: para que se alineen verticalmente */
  line-height: 1.1; /* Opcional: ajusta el espacio vertical entre líneas */
}
.volver{
  text-align: end;
  padding-right: 1rem;
}
#volver{
  background: white;
  padding: 0.5rem;
  border-radius: 0.4rem;
  color:black;
  font-weight: bold; 
  font-size: 1rem;
  text-decoration: none;  
  border: 1px solid black;
  border-radius: 5px;
    
}
.contenedorcarnet{
  display: flex;
  height: 100%;
  
}
.contenedorimg{
  width: 25%;
  height: 130px;
 
}
.contenedordatos{
  width: 75%;
  text-align: start;
  padding-left: 5px;
}
#imgfoto{
  margin-top: 26px;
  width: 80%;
  height: 70%;
  text-align: center;
  border-radius: 7px;
  
}

label{
  padding: 0;
  margin: 0;
}
.labeltitulo{
  font-weight: bold;
  font-size: 0.8rem;
   margin: 0;
  padding: 0;
  display: block; /* Opcional: para que se alineen verticalmente */
  line-height: 1.3; /* Opcional: ajusta el espacio vertical entre líneas */
 
}
#titulo2 {
  position: fixed;
  top: 97px; /* Ajusta según necesidad */
  left: 5px; /* Ajusta según necesidad */
  z-index: 999; /* Para que esté encima de otros elementos */
 font-size: 0.7rem;
  padding-left: 0.7rem;
  line-height: 0.6;
}
.labeltituloN{
  font-weight: bold; 
}
.labeltituloF{
  font-weight: bold; 
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}
.contenidotexto{
  padding: 2px;
}
.labelNRegistro{
  font-size: 0.8rem;  
 
}
.ver{
  display: none;
}
.oculto{
  display: block;
}
.clasefoto{
   position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.5rem;
      font-family: sans-serif;
      color: #eee;
}
.titulo{ 
 height: 50px;
 padding: 0;
}

.btnCarnet, .btnCertificado {
  background: #dddddd;
  color: rgb(10, 10, 10);  
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 0 2px 5px #A60736;  
  transition: background-color 0.3s, transform 0.2s;
}
.btnCarnet:hover {
 background: #A60736;  
  color: white;
  transform: translateY(-2px);
}

li{
  list-style-type: none;  
  margin-bottom: 1rem;
  }
/* Responsive para móvil */
.listaCarnet {
  padding: 20px;
  overflow-x: hidden;
}

.listacertificado {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.certificado-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
}

.certificado-item iframe {
  width: 100%;
  max-width: 100%;
  height: 500px;
  display: block;
  border: none;
  border-radius: 6px;
}




@media (max-width: 576px) {
  body{
    padding: 0;
  }
  .carnet-wrapper{
    transform: rotate(-90deg); 
    width: 410px;
  height: 272px;
    perspective: 1000px;
    margin-left: -35px;
   margin-top: 90px;
 
  }
  .listacertificado {
    grid-template-columns: 1fr;
  }
  .carnet-front {
  z-index: 2;
  background-image: url('../images/anversoUNE.png');
  background-size:cover;         /* Hace que la imagen llene el div sin deformarse */
  background-position: center;    /* Centra la imagen */
  background-repeat: no-repeat;   /* Evita que se repita */
}
}
