*{
    margin: 0;
    padding: 0;
}
body{
  background: #eeeded; 
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  text-align: center;
  padding: 0.3rem;
}
.carnet-wrapper {
  width: 390px;
  height: 252px;
  perspective: 1000px;
  margin: 30px auto;
  
}

.carnet-flip {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 7px 10px rgba(0,0,0,0.3);
}

.carnet-flip.is-flipped {
  transform: rotateY(180deg);
}

.carnet-face {/*este es el contenido*/
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  background: #080808;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222;
  border: 1px solid #999;
}

.carnet-front {
  z-index: 2;
  background-image: url('../images/anversoUNE.png');
  background-size: cover;         /* Hace que la imagen llene el div sin deformarse */
  background-position: center;    /* Centra la imagen */
  background-repeat: no-repeat;   /* Evita que se repita */
}

.carnet-back {
  transform: rotateY(180deg);
   background-image: url('../images/reversoUNE.png');
   background-size: cover;         /* Hace que la imagen llene el div sin deformarse */
  background-position: center;    /* Centra la imagen */
  background-repeat: no-repeat;   /* Evita que se repita */
}

img{
    width: 80px;        
}

.carnet-content h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  font-size: 1.2rem;
}

.carnet-content p {
  margin: 5px 0;
  font-size: 1rem;
}

.listaCarnet{
  display: flex;
      flex-direction: column;
      width: 200px; /* Puedes ajustarlo según necesites */
      gap: 10px;     /* Espacio entre los enlaces */
  text-align: start;
 
}

.tabs {
      display: flex;
      margin-bottom: 5px;
}

.tab {
      padding: 10px 20px;
      cursor: pointer;
      background-color: #eee;
      border: 1px solid #cccccc;
      border-bottom: none;
      margin-right: 5px;
      border-radius: 5px 5px 0 0;
}

.tab.active {
      background-color: white;
      border-bottom: 1px solid white;
      font-weight: bold;
}

.tab-content {
  border-top: 1px solid #ccc;    
  padding: 15px;     
  background: white;      
  height: 100vh;  
}
    .tab-pane {
      display: none;
    }

    .tab-pane.active {
      display: block;
      
    }
/* Responsive para móvil */

@media (max-width: 576px) {
  body{
    padding: 0;
  }
  .carnet-wrapper{
    transform: rotate(-90deg); 
    width: 410px;
  height: 272px;
    perspective: 1000px;
    margin-left: -35px;
   margin-top: 90px;
 
  }
  .carnet-front {
  z-index: 2;
  background-image: url('../images/anversoUNE.png');
  background-size:cover;         /* Hace que la imagen llene el div sin deformarse */
  background-position: center;    /* Centra la imagen */
  background-repeat: no-repeat;   /* Evita que se repita */
}
}
